button {
    width: 300px;
    height: 40px;
    display: block;
    margin: 0 auto 0;
    background: #50597b;
    border: solid 1px #1f253d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.5em;
    color: #fff;
    opacity: 0.6;
}

button:hover {
    opacity: 1;
}

input {
    width: 300px;
    height: 40px;
    display: block;
    margin: 20px auto 0;
    background: #394264;
    border: solid 1px #1f253d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.guess-form {
    height: 120px;
    margin: 10px auto 0;
    background: #394264;
    padding: 0.5em;
    display: block;
    line-height: 2em;
    overflow: auto;
    font-weight: 400;
    line-height: 1em;
    color: #fff;
}

